/*
Jeremiah Kellam
CSD340 Assignment 6.3
2/4/2024
*/

header {
    background-color: #841bb5; 
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3, h4{
    background-color: #6F2DA8;
    color: whitesmoke;
    border: 1px solid #D6A800;
    padding: 10px;
}

#navbar {
    overflow: hidden;
    background-color: #333; /* Dark grey background */
    border-bottom: 15px solid #841bb5;
}

#navbar a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd; /* Grey background on hover */
    color: black;
}

a:link{
    font-weight: bold;
    color: #CB1BF7;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    background-color: #D6A800;
}

a:visited{
    color: #e7a6ff;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 50px;
    scroll-padding: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    justify-content: center;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/*
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid div {
    width: 100%;
    height: auto;
    padding-bottom: 30%;
}

@media (max-width: 30%) {
    .image {
        grid-template-columns: 1fr;
    }
}
*/

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-between;
}

.gallery {
    flex: 1;
    border: 1px solid rgb(175, 138, 5, 1);
    border-radius: 15px;
    padding: 5px;
}

.image {
    width: 100%;
    height: auto;
}

figure img {
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

figcaption {
    font: calibri;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #841bb5; /* Same as header color */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p1 {
    color: white;
    font-weight: 400;
    float: left;
    padding-right: 10px;
    font-style: italic;
}

footer p2 {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}